<% c++ #include "../resources/views/dashboard.h" %>
<% skin bootstrap_skin %>
<% view dashboard uses views::Dashboard extends layouts_app_dashboard %>
<% template wrapper_content() %>
<% end template %>
<% end view %>
<% end skin %>
