<% c++ #include "../resources/views/layouts/app/dashboard.h" %>
<% skin bootstrap_skin %>
<% view layouts_app_dashboard uses views::layouts::app::Dashboard extends layouts_app %>

<% end view %>
<% end skin %>