<% c++ #include "../resources/views/layouts/app/home.h" %>
<% skin bootstrap_skin %>
<% view Home uses views::layouts::app::Home extends App %>
<% template render() %>

<% end template %>
<% end view %>
<% end skin %>