<% c++ #include "../resources/views/layouts/app.h" %>
<% skin bootstrap_skin %>
<% view layouts_app uses views::layouts::App %>
<% template css() %><% end %>
<% template wrapper_content() %><% end %>
<% template js() %><% end %>
<% template render() %><!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <title><%= title %></title>
  <% include css() %>
  <link rel="stylesheet" href="<%= asset("/css/app.hack.css") %>" />
</head>
<body>
  <% include wrapper_content() %>
  <% include js() %>
  <script type="text/javascript" src="<%= asset("/js/app.hack.js") %>"></script>
</body>
</html><% end template %>
<% end view %>
<% end skin %>
