<% c++ #include "../resources/views/layouts/app.h" %>
<% skin bootstrap %>
<% view app uses views::layouts::app %>
<% template render() %>
<!DOCTYPE html>
<html>
<body>
<h1><%= text %> World!</h1>
</body>
</html>
<% end template %>
<% end view %>
<% end skin %> 
